<div class="container">
    <div id="dieu-huong" class="row">
        <div class="col-md-12">
            <div class="dieu-huong">
                <ul>
                    <li>
                        <a title="Đến trang chủ" href="./index.html"><span>Trang chủ</span></a>
                    </li>
                    <li style="margin-left: 5px;">
                        <i class="fas fa-angle-double-right"></i>
                    </li>
                    <li style="margin-left: 5px;">
                        <strong><span>Liên hệ</span></strong>
                    </li>
                </ul>
            </div>
            <div class="ten-trang">
                <h1 class="tittle"><span>Liên hệ</span></h1>
            </div>
        </div>
    </div>
</div>

<div class="Trang_LienHe">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 Gioi_Thieu_Cty">
                <!-- col-*-6kéo dài 6 trong số 12 cột (một nửa chiều rộng), -->
                <h1 class="tieude">
                    <span>Công ty cổ phần thương mại coffee House</span>
                </h1>
                <p class="gioi_thieu_coffeeshop">Bắt đầu ra mắt vào năm 2014 nhưng với cái tên The coffee house và sự
                    phát triển của thương hiệu là điều mà nhiều Startup đáng mơ ước, đặc biệt trong ngành F&B. Ngôi nhà
                    cà phê cho biết sẽ trở thành Starbucks thứ 2 ở Việt Nam, khi nhắc
                    tới The coffee house là nhắc tới một thương hiệu cà phê Việt.</p>

                <p class="gioi_thieu_coffeeshop">Có 3 yếu tố tiên quyết để quán cà phê này thu hút khách hàng là không
                    gian của quán, thái độ phục vụ của nhân viên và những tiện ích mà chuỗi cửa hàng cà phê này mang lại
                    cho khách hàng.</p>
                <li class="chi_nhanh">
                    <span class="dia_chi-chi_nhanh">
                        <i class="fas fa-map-marker-alt" style="margin-right: 10px;"></i><b>Coffee House Quận Thủ
                            Đức:</b>
                        66E Hoàng Diệu 2, Quận Thủ Đức, Hồ Chí Minh, Việt Nam
                    </span>
                    <br>
                    <span class="phone_"><span>Điện thoại:
                            <a href="#">(012) 34567890</a>
                        </span> - <span>Fax:
                            <a href="#">(012) 34567899</a>
                        </span></span>
                </li>
                <li class="chi_nhanh">
                    <span class="dia_chi-chi_nhanh">
                        <i class="fas fa-map-marker-alt" style="margin-right: 10px;"></i><b>Coffee House Tân
                            Bình:</b>
                        293 Quang Trung, Quận Gò Vấp, Hồ Chí Minh, Việt Nam
                    </span>
                    <br>
                    <span class="phone_"><span>Điện thoại:
                            <a href="#">(012) 34567890</a>
                        </span> - <span>Fax:
                            <a href="#">(012) 34567899</a>
                        </span></span>
                </li>
                <div class="hotline_contact">
                    <ul>
                        <li class="bp">
                            <i class="fas fa-user" style="margin-right: 10px;"></i><b>Bộ phận tư vấn khách hàng:</b>
                        </li>
                        <li>
                            Hotline: <a href="#">1800 6750</a>
                        </li>
                        <li>
                            Email: <a href="#">uit@edu.vn</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 Gui_Lien_He">
                <!-- col-*-6kéo dài 6 trong số 12 cột (một nửa chiều rộng), -->
                <h2 class="Tieu_de_2"><span>Gửi tin nhắn cho chúng tôi</span></h2>
                <div id="row Lien_He">
                    <form>
                        <fieldset class="form-group col-lg-12 Gui_Lien_He">
                            <!-- Tag <fieldset> được dùng để nhóm các thành phần bên trong <form> một cách hợp lý.
									Tag <fieldset> tạo đường bao ngoài bao quanh các thành phần trong <form>. -->
                            <input placeholder="Họ và tên" type="text" class="form-Lien-He" required value name="Ten">
                            <!-- placeholder cung cap them thong tin cho nguoi dung -->
                        </fieldset>
                        <fieldset class="form-group col-lg-12 Gui_Lien_He">
                            <input placeholder="Số điện thoại" type="text" class="form-Lien-He" required
                                name="Telephone">
                        </fieldset>
                        <fieldset class="form-group col-lg-12 Gui_Lien_He">
                            <textarea placeholder="Nội dung " type="text" class="form-Lien-He-content" required
                                name="Content "></textarea>
                            <!-- <textarea> được sử dụng để định nghĩa một ô nhập văn bản nhiều dòng.
									Có thể nhập đoạn văn bản dài vô hạn và hiển thị với độ dài ô nhập là cố định.  -->
                        </fieldset>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-lienhe">Gửi liên hệ</button>
                            <!-- btn btn-primary là hỗ trợ bên bootstrap -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2323596338047!2d106.80161941534782!3d10.869923660431988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527587e9ad5bf%3A0xafa66f9c8be3c91!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgVGjDtG5nIHRpbiDEkEhRRyBUUC5IQ00!5e0!3m2!1svi!2s!4v1607948804249!5m2!1svi!2s"
                width="1170" height="535" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </div>
</div>