<div class="container">
    <div id="dieu-huong" class="row">
        <div class="col-md-12">
            <div class="dieu-huong">
                <ul>
                    <li>
                        <a title="Đến trang chủ" href="./index.html"><span>Trang chủ</span></a>
                    </li>
                    <li style="margin-left: 5px;">
                        <i class="fas fa-angle-double-right"></i>
                    </li>
                    <li style="margin-left: 5px;">
                        <strong><span>Dịch vụ</span></strong>
                    </li>
                </ul>
            </div>
            <div class="ten-trang">
                <h1 class="tittle"><span>Dịch vụ</span></h1>
            </div>
        </div>
    </div>
</div>
<!-- ===================================CONTENT=================================================== -->
<div class="container top_content">
    <h1 class="page_tittle">Dịch vụ</h1>
    <div class="breadcrumbs">
        <a href="./index.html" class="breadcrumbs_item">Trang chủ</a>
        <span class="breadcrumbs_phan_cach home">></span>
        <span class="breadcrumbs_item">Dịch vụ</span>
    </div>
</div>
<!-- ==================================BODY CONTENT============================================= -->
<div class="service">
    <div class="heading">
        <h1>Chúng tôi cung cấp cho bạn</h1>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <i class="fa fa-coffee fa-2x"></i>
                    <div class="subtitle">
                        Cà Phê
                    </div>
                    <p>Chúng tôi kiểm soát các tiêu chuẩn của quá trình chăm bón; tỉ mẩn trong các khâu sơ chế, rang,
                        pha... để gửi đến khách hàng ly cà phê tốt nhất.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <i class="fas fa-utensils"></i>
                    <div class="subtitle">
                        Thức ăn
                    </div>
                    <p>Hương vị tuyệt hảo khiến bạn khó lòng mà cưỡng lại được. Thực đơn phong phú với những dư vị đầy
                        khác biệt.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <i class="fas fa-glass-martini"></i>
                    <div class="subtitle">
                        Nước uống
                    </div>
                    <p>Nhấp ngay một ngụm là thấy mát lạnh ngay tức khắc, đọng lại mãi nơi cuốn họng là hương vị ngọt
                        thanh khó quên</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <i class="fa fa-wifi fa-2x"></i>
                    <div class="subtitle">
                        Wifi
                    </div>
                    <p>Quán của chúng tôi được phủ sóng bởi một mạng wifi tốc độ cao, giúp bạn làm việc hoặc giải trí
                        thoải mái tại quán.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <i class="fa fa-car fa-2x"></i>
                    <div class="subtitle">
                        Chỗ đậu xe
                    </div>
                    <p>Chúng tôi cũng cung cấp dịch vụ Đỗ xe có người phục vụ để tránh giao thông và mang lại sự thuận
                        tiện cho khách hàng.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="box">
                    <i class="fa fa-trophy fa-2x"></i>
                    <div class="subtitle">
                        Giải thưởng
                    </div>
                    <p>Năm 2020 Coffee House đã giành được Giải thưởng với hạng mục “Quán cà phê ngon nhất” của Times of
                        VietNam.</p>
                </div>
            </div>

        </div>