<img style="margin-top: -40px;" width="auto" src="/img/Untitled-1.png" alt="Slider 2">

	<div class="img">
		<div class="kieu">
			<h1>C❤ffee H❤use</h1>
		</div>
		<hr style=" width: 400px; border: 2px solid orangered;">
		<div class="tagline">
			<p>Luôn Đồng Hành Cùng Bạn</p>
		</div>
		<div class="kieu">
			<h2>Vài lời về chúng tôi</h2>
		</div>
		<div class="kieu">
			<p>"Tại Coffee House, chúng tôi luôn trân trọng những câu chuyện và đề cao giá trị <b>"Kết nối con
					người"</b>. Chúng tôi mong muốn The Coffee House sẽ trở thành <b>“Nhà Cà Phê"</b>, nơi mọi người
				xích lại gần nhau và tìm thấy niềm vui, sự sẻ chia thân tình bên những tách cà phê đượm hương, chất
				lượng." </p>
			<img src="/img/caphematcha.jpg">
		</div>
		<div class="kieu">
			<h2>Không gian của Coffee House</h2>
		</div>
		<div style="padding-top: 20px;" class="list">
			<img src="/img/anhcf4.png">
			<img src="/img/anhcf4.png">
			<div class="kieu">
				<p><b>-Không Gian Cổ Điển-</b><br>Không gian ấm áp phù hợp để ngồi tán gẩu với nhau những ngày đông lạnh
					và thưởng thức 1 ly Capuchino ấm nóng của <b> Coffee House</b>.</p>
				<img src="/img/capheamericano.jpg">
			</div>
		</div>
		<div style="padding-top: 50px;" class="list">
			<div class="kieu">
				<p><b>-Không Gian Yên Tĩnh-</b><br> Đối với một số nhóm bạn hoặc cá nhân cần không gian yên tĩnh hoặc
					muốn ngồi một mình thì hãy đến với<b> Coffee House</b> ngay thôi.Còn gì tuyệt vời hơn khi được
					thưởng thước 1 ly Latte Nóng để tăng sự tập tủng hơn khi làm việc đúng không.</p>
				<img src="/img/caphecapuchino.jpg">
			</div>
			<img src="/img/anh1to.jpg">
		</div>
		<div class="kieu">
			<h2>Những người sáng tạo của Coffee House</h2>
		</div>
		<div style="padding-top: 50px;" class="list">
			<p><img src="/img/nv2.jpg"><br><br><img src="/img/nv3.jpg"></p>
			<p><img src="/img/nv4.jpg"><br><br><img src="/img/gallery_1.jpg"></p>
		</div>