<div class="img">
    <img src="/img/Untitled-1.png" alt="Slider 2" style="margin-top: -40px;background-position: center;"
        width="auto">
    <div class="kieu">
        <h1>C❤ffee H❤use </h1>
    </div>
    <hr style=" width: 400px; border: 2px solid orangered;">
    <div class="tagline">
        <p>Luôn Đồng Hành Cùng Bạn</p>
    </div>
    <div class="kieu">
        <h2>Tin Nổi Bật</h2>
    </div>
    <br>
    <div class="slidershow middle">
        <div class="slides">
            <input type="radio" name="r" id="r1" checked>
            <input type="radio" name="r" id="r2">
            <input type="radio" name="r" id="r3">
            <input type="radio" name="r" id="r4">
            <div class="silde s1">
                <a href=""><img class="animate" src="/img/tin1.jpg" alt=""></a>
            </div>
            <div class="slide">
                <a href=""><img class="animate" src="/img/tin2.jpg" alt=""></a>
            </div>
            <div class="slide">
                <a href=""><img class="animate" src="/img/tin3.jpg" alt=""></a>
            </div>
            <div class="slide">
                <a href=""><img class="animate" src="/img/tin4.jpg" alt=""></a>
            </div>
            <div class="navigation">
                <label for="r1" class="bar"></label>
                <label for="r2" class="bar"></label>
                <label for="r3" class="bar"></label>
                <label for="r4" class="bar"></label>
            </div>
        </div>
    </div>
    <div class="kieu">
        <h2>Tin Khuyến Mãi</h2>
    </div>
    <div class="list">
        <div>
            <a href="./tintuc.html"><img class="animate" src="/img/km2.png"></a>
            <h3><a class="tintuc" href=""> Ưu đãi cho khách hàng lần đầu sử dụng App !</a></h3>
            <p class="ngay">13/11/2020, 17:05</p>
            <a href="./tintucthem.html"><button class="button" style="vertical-align:middle"><span>Xem
                        thêm</span></button></a>
        </div>
        <div>
            <a href="./tintuc.html"><img class="animate" src="/img/km2.png"></a>
            <h3 class="tintuc"><a class="tintuc" href="">Ưu đãi cho khách hàng lần đầu sử dụng App !</a></h3>
            <p class="ngay"> 13/11/2020, 17:05</p>
            <a href="./tintucthem.html"><button class="button" style="vertical-align:middle"><span>Xem
                        thêm</span></button></a>
        </div>
    </div>
    <div class="list">
        <div>
            <a href="./tintuc.html"><img class="animate" src="/img/km1.jpg"></a>
            <h3 class="tintuc"><a class="tintuc" href="">Khuyến mãi lên đến 40%. còn chờ gì nữa mà không thử
                    ngay!!</a></h3>
            <p class="ngay">15/11/2020, 20:05</p>
            <a href="./tintucthem.html"><button class="button" style="vertical-align:middle"><span>Xem
                        thêm</span></button></a>
        </div>
        <div>
            <a href="./tintuc.html"><img class="animate" src="/img/km1.jpg"></a>
            <h3 class="tintuc"><a class="tintuc" href="">Khuyến mãi lớn ngày 20-11! Đến Coffee House ngay thôi.</a>
            </h3>
            <p class="ngay">15/11/2020, 13:05</p>
            <a href="./tintucthem.html"><button class="button" style="vertical-align:middle"><span>Xem
                        thêm</span></button></a>
        </div>
    </div>
    <div class="pagination">
        <div class="pagination-con">
            <a href="./tintuc.html">&laquo;</a>
            <a class="active" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
</div>