<div class="footer">
    <footer id="footerweb">
        <div class="footer-container">
            <div class="top-footer">
                <div class="col-md-4 col-lg-4 col-sm-4 chat_luong">
                    <div class="chat_luong_icon">
                        <i class="far fa-thumbs-up" style="color: rgb(14, 56, 241);"></i>
                    </div>
                    <div class="chat_luong_text">
                        <p class="hoa">Coffee chất lượng </p>
                        <p>hàng đầu Châu Âu</p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 chat_luong co_border">
                    <div class="chat_luong_icon">
                        <i class="fas fa-shipping-fast" style="color: rgb(250, 246, 7);"></i>
                    </div>
                    <div class="chat_luong_text">
                        <p class="hoa">Miễn phí shipping </p>
                        <p>Trên 5 đơn hàng</p>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 chat_luong">
                    <div class="chat_luong_icon">
                        <i class="far fa-clock" style="color: rgb(250, 56, 7);"></i>
                    </div>
                    <div class="chat_luong_text">
                        <p class="hoa">24/7</p>
                        <p>Mở cửa mọi lúc</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="content-footer row">
                    <div class="col-md-3 col-lg-3 col-sm-6">
                        <div class="content1">
                            <h3><span>Về chúng tôi</span></h3>
                            <ul style="padding: 0;">
                                <li style="padding: 6px 0 6px 0;"><a href="./gioithieu.html">Giới Thiệu</a>
                                </li>
                            </ul>
                            <ul style="padding: 0;">
                                <li style="padding: 6px 0 6px 0;"><a href="#">Giao hàng - Đổi
                                        trả</a></li>
                            </ul>
                            <ul style="padding: 0;">
                                <li style="padding: 6px 0 6px 0;"><a href="#">Chính sách bảo
                                        mật</a></li>
                            </ul>
                            <ul style="padding: 0;">
                                <li style="padding: 6px 0 6px 0;"><a href="./Lien_He.html">Liên Hệ
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-6">
                        <div class="content1">
                            <h3><span>Trợ giúp</span></h3>
                            <ul style="padding: 0;">
                                <li style="padding: 6px 0 6px 0;"><a href="">Hướng dẫn mua
                                        hàng</a>
                                </li>
                            </ul>
                            <ul style="padding: 0;">
                                <li style="padding: 6px 0 6px 0;"><a href="">Hướng dẫn thanh
                                        toán</a></li>
                            </ul>
                            <ul style="padding: 0;">
                                <li style="padding: 6px 0 6px 0;"><a href="">Tài khoản giao
                                        dịch
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-6">
                        <div class="content1">
                            <h3><span>Kết nối với chúng tôi</span></h3>
                            <div class="social-icon">
                                <ul class="list-icons" style="padding: 0;">
                                    <li>
                                        <a title="" class="facebook">
                                            <i class="fab fa-facebook-square"></i>
                                            <span>Facebook</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="" class="facebook">
                                            <i class="fab fa-google-plus-g"></i>
                                            <span>Google Plus</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="" class="facebook">
                                            <i class="fab fa-twitter"></i>
                                            <span>Twitter</span>
                                        </a>
                                    </li>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-6">
                        <div class="content1">
                            <h3><span>Hãy đến với chúng tôi</span></h3>
                        </div>
                    </div>
                    <span class="line col-lg-12"></span>
                </div>
            </div>
            <div class="end-footer">
                <div class="container">
                    <div class="footer-col">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="copyright">
                                <p style="color: #999999;">Copyright &copy; 2020 Internet & CongNgheWeb. <a href="#"
                                        target="_blank">Coffee_Shop</a>.</p>
                            </div>
                        </div>
                        <div class="Lendau">
                            <a href="#top" id="back-to-top" class="backtop" title="Lên đầu trang">
                                Lên đầu trang
                                <i class="fas fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>